/*
Variables to be used throughout site
*/
body {
  overflow-x: hidden;
  background-color: #ffffff;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.franklin-content {
  width: 55%;
  padding-left: 25%;
  padding-right: 0;
  line-height: 1.35em;
}
.franklin-content .row {
  display: block;
}
.franklin-content .left {
  float: left;
  margin-right: 15px;
}
.franklin-content .right {
  float: right;
}
.franklin-content .container img {
  width: auto;
  padding-left: 0;
  border-radius: 10px;
}
.franklin-content .footnote {
  position: relative;
  top: -0.5em;
  font-size: 70%;
}
.franklin-content .img-small img {
  width: 50%;
  text-align: center;
  padding-left: 20%;
}
.franklin-content img {
  width: 70%;
  text-align: center;
  padding-left: 10%;
}
.franklin-content h1 {
  font-size: 24px;
  padding-bottom: 0.5em;
  border-bottom: none;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.franklin-content h2 {
  font-size: 22px;
  padding-bottom: 0.3em;
  border-bottom: none;
  margin-top: 2em;
  margin-bottom: 1em;
}
.franklin-content h3 {
  font-size: 20px;
}
.franklin-content h1,
.franklin-content h2,
.franklin-content h3,
.franklin-content h4,
.franklin-content h5,
.franklin-content h6 {
  text-align: left;
}
.franklin-content h1 a,
.franklin-content h2 a,
.franklin-content h3 a,
.franklin-content h4 a,
.franklin-content h5 a,
.franklin-content h6 a {
  color: inherit;
}
.franklin-content h1 a :hover,
.franklin-content h2 a :hover,
.franklin-content h3 a :hover,
.franklin-content h4 a :hover,
.franklin-content h5 a :hover,
.franklin-content h6 a :hover {
  text-decoration: none;
}
.franklin-content table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
}
.franklin-content th,
.franklin-content td {
  font-size: var(--small);
  padding: 10px;
  border: 1px solid black;
}
.franklin-content blockquote {
  background: var(--block-background);
  border-left: 7px solid #a8a8a8;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
}
.franklin-content blockquote p {
  display: inline;
}

.page-foot {
  font-size: 16px;
  font-family: Arial, serif;
  color: #a6a2a0;
  text-align: center;
  margin-top: 6em;
  border-top: none;
  padding-top: 2em;
  margin-bottom: 4em;
  position: relative;
}
.page-foot a {
  text-decoration: none;
  color: #a6a2a0;
  text-decoration: underline;
}

.katex {
  font-size: 1em !important;
}

.katex-display .katex {
  /* Overwrite KaTeX settings. */
  display: inline-block;
  /* Allow display equations to wrap on small screens. */
  white-space: normal;
}
.katex-display ::after {
  counter-increment: eqnum;
  content: "(" counter(eqnum) ")";
  position: relative;
  float: right;
  padding-right: 5px;
}

.nonumber .katex-display::after {
  counter-increment: nothing;
  content: "";
}

code {
  background-color: var(--block-background);
  padding: 0.1em 0.2em;
  border-radius: 2px;
  font-size: var(--small);
}

.hljs {
  font-size: var(--small);
  line-height: 1.35em;
  border-radius: 10px;
}

.hljs-meta {
  font-weight: bold;
}

.hljs-meta.shell_ {
  color: crimson;
}

.hljs-meta.prompt_ {
  color: rgb(25, 179, 51);
}

.code-output {
  background: var(--output-background);
  border: 1px dashed #dbdbdb;
}

/* On narrow device, reduce margins. */
@media (max-width: 480px) {
  .franklin-content {
    padding-left: 6%;
    padding-right: 6%;
  }
}