/*
Variables to be used throughout site
*/
.showcase {
  width: 100%;
  height: 100%;
}
.showcase .year-heading h2 {
  border-bottom: none;
  color: rgb(0, 0, 0);
}
.showcase .showcase-title {
  color: #9b4d5f;
}
.showcase .showcase-title a {
  text-decoration: none;
  color: #9b4d5f;
}
.showcase ul {
  padding-left: 50px;
}
.showcase .showcase-body {
  font-size: 14px;
}