/*
Variables to be used throughout site
*/

// Background
$primary-background: #a2e1e6;
$secondary-background: #7dd4db;
$tertiary-background: #4fb9c1;

// Foreground
$primary-foreground: rgb(0, 0, 0);
$secondary-foreground: #9b4d5f;
$tertiary-foreground: #b85b74;

// Font
$font-stack: Helvetica, Arial, sans-serif;
$large: 24px;
$normal: 19px;
$small: 14px;

//Footer
