/*
Variables to be used throughout site
*/

// Background
$primary-background: rgb(255, 255, 255);
$secondary-background: rgb(180, 250, 244);
$tertiary-background: rgb(231, 54, 208);

// Foreground
$primary-foreground: rgb(0, 0, 0);
$secondary-foreground: rgb(100, 100, 100);
$tertiary-foreground: rgb(73, 26, 67);

// Font
$font-stack: Helvetica, Arial, sans-serif;
$large: 24px;
$normal: 19px;
$small: 14px;
