@use "vars";

.masthead {
  position: relative;
  border-bottom: 2px solid vars.$secondary-background;
  padding-left: 6%;

  nav {
    width: 100%;
    height: 20%;
    text-align: left;
    padding: 1%;
    display: inline-block;

    .author-name-nav {
      display: inline-block;
      padding-right: 50px;

      li {
        display: inline-block;

        a {
          color: vars.$secondary-foreground;
          text-decoration: none;
          font-size: vars.$normal-font;
          font-weight: bold;
          display: inline-block;
          padding-top: 10px;
          padding-right: 2px;
          padding-left: 2px;
          padding-bottom: 5px;
          margin-left: 7px;
          margin-right: 7px;
          transition: color 0.3s ease;
        }
      }
    }

    .desktop-nav {
      display: inline-block;

      li {
        display: inline-block;

        a {
          color: vars.$primary-foreground;
          text-decoration: none;
          font-size: vars.$normal-font;
          font-weight: bold;
          display: inline-block;
          padding-top: 10px;
          padding-right: 2px;
          padding-left: 2px;
          padding-bottom: 5px;
          margin-left: 7px;
          margin-right: 7px;
          transition: color 0.3s ease;
        }
      }
    }

    .mobile-nav {
      display: none;
    }

    .burger-nav {
      display: none;
    }
  }
}

@media (max-width: vars.$mobile-max-width) {
  .masthead {
    nav {
      .desktop-nav {
        display: none;
      }

      .burger-nav {
        display: inline-block;
        justify-items: right;
      }

      .mobile-nav {
        display: none;
        justify-items: right;

        li {
          display: block;

          a {
            color: vars.$primary-foreground;
            text-decoration: none;
            font-size: vars.$normal-font;
            font-weight: bold;
            display: inline-block;
            padding-top: 10px;
            padding-right: 2px;
            padding-left: 2px;
            padding-bottom: 5px;
            margin-left: 7px;
            margin-right: 7px;
            transition: color 0.3s ease;
          }
        }
      }
    }
  }
}
