/*
Variables to be used throughout site
*/

// Background
$primary-background: hsl(0, 0%, 94%);
$secondary-background: hsl(0, 0%, 94%);

// Foreground
$primary-foreground: hsl(0, 0%, 0%);

// Font
$font-stack: Helvetica, Arial, sans-serif;
$large: 24;
$normal: 19px;
$small: 14px;
