/*-----------
    Icons 
-----------*/

[data-theme="light"] {
  /* Software Docs */
  .fa-book {
    color: black;
  }

  /* GitHub */
  .fa-brands.fa-github {
    color: black;
  }

  /* Email */
  .fa-solid.fa-envelope {
    color: black;
  }
}

[data-theme="dark"] {
  /* Software Docs */
  .fa-book {
    color: white;
  }

  /* GitHub */
  .fa-brands.fa-github {
    color: white;
  }

  /* Email */
  .fa-solid.fa-envelope {
    color: white;
  }
}

/* Google Scholar */
.fa-graduation-cap {
  color: #4c9cf1;
}

/* ORCID */
.fa-brands.fa-orcid {
  color: greenyellow;
}

/* ResearchGate */
.fa-brands.fa-researchgate {
  color: mediumspringgreen;
}

/* LinkedIn */
.fa-brands.fa-linkedin {
  color: #4c9cf1;
}

/* Blue Sky */
.fa-bluesky {
  color: #087af3;
}

/* Mastodon */
.fa-mastodon {
  color: #5010e6;
}
